<section id="users">
  <div class="container p-5">
    <h4 class="display-4">Users</h4>
    <hr>
    <div class="row mt-5">
        <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Project Namw</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Details</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {{# each projects}}
              <tr>
                <th scope="row">1</th>
                <td>{{this.projectName}}</td>
                <td>{{this.startDate}}</td>
                <td>{{this.endDate}}</td>
                <td><a href="/companyOwner/details/{{ this._id }}" class="btn btn-danger">Details</a></td>
                <td><a href="/companyOwner/deleteproject/{{ this._id }}" class="btn btn-danger">Delete</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
    </div>
  </div>
  <a class="btn btn-warning pull-right" href="/companyOwner/addproject">Add new Project</a>
</section>
